body {
    margin: 0;
    background-image: url(../index-image/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #87ff87;
    padding: 20px;
}

img {
    width: 5%;
}

.social-icons {
    display: flex;
    gap: 30px;
}

.social-icons img {
    width: 50px;
}

.profile {
    text-align: center;
    margin-top: 50px;
}

.profile img {
    width: 20%;
    border-radius: 50%;
}

h1 {
    font-size: 35px;
    font-family: 'Inter';
    letter-spacing: 2px;
    font-weight: 100;
}

h2 {
    font-size: 25px;
    font-family: 'Inter';
    font-weight: 500;
}

p {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    margin: 20px auto;
    max-width: 800px;
}

.project {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.project a {
    font-family: 'Outfit', sans-serif;
    display: block;
    margin-top: 30px;
    color: #ffffff;
    text-decoration: none;
}

.projects {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.projects a {
    font-family: 'Outfit', sans-serif;
    display: block;
    margin-top: 30px;
    color: #ffffff;
    text-decoration: none;
}

.week1 {
    color: #ffffff;
    background-color: #6aabf5;
    margin: 20px;
    padding: 40px;
    width: 30%;
    border-radius: 10px;
    text-align: center;
}

.week2 {
    color: #ffffff;
    background-color: #6aabf5;
    margin: 20px;
    padding: 40px;
    width: 30%;
    border-radius: 10px;
    text-align: center;
}

.week3 {
    color: #ffffff;
    background-color: #6aabf5;
    margin: 20px;
    padding: 40px;
    width: 30%;
    border-radius: 10px;
    text-align: center;
}

.week4 {
    color: #ffffff;
    background-color: #6aabf5;
    margin: 20px;
    padding: 40px;
    width: 30%;
    border-radius: 10px;
    text-align: center;
}

.week5 {
    color: #ffffff;
    background-color: #6aabf5;
    margin: 20px;
    padding: 40px;
    width: 30%;
    border-radius: 10px;
    text-align: center;
}

.week6 {
    color: #ffffff;
    background-color: #6aabf5;
    margin: 20px;
    padding: 40px;
    width: 30%;
    border-radius: 10px;
    text-align: center;
}

.week {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #ffffff;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    background-color: #074f52;
}

.footer-menu {
    display: flex;
    padding-top: 20px;
    margin: 10px;
}

.footer-menu img {
    width: 50px;
}

.footer-menu div {
    margin: 0 10px;
}

.footer-text {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

.footer-text p {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    margin: 20px auto;
    max-width: 800px;
}

@media screen and (max-width: 1024px) {
    .project {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .projects {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .week1 {
        width: 90%;
        margin: 10px;
    }

    .week2 {
        width: 90%;
        margin: 10px;
    }

    .week3 {
        width: 90%;
        margin: 10px;
    }

    .week4 {
        width: 90%;
        margin: 10px;
    }

    .week5 {
        width: 90%;
        margin: 10px;
    }

    .week6 {
        width: 90%;
        margin: 10px;
    }
}

@media screen and (max-width: 425px) {
    .week1 {
        width: 80%;
    }

    .week2 {
        width: 80%;
    }

    .week3 {
        width: 80%;
    }

    .week4 {
        width: 80%;
    }

    .week5 {
        width: 80%;
    }

    .week6 {
        width: 80%;
    }

    img {
        width: 10%;
    }

    .social-icons {
        gap: 20px;
    }

    .social-icons img {
        width: 30px;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
        width: 90%;
    }
}