body {
    margin: 0;
    font-family: "Space Grotesk", Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 24px 0;
}

.menu-toggle {
    font-size: 2rem;
    cursor: pointer;
    display: none;
    z-index: 1001;
}

.menu a {
    font-size: 20px;
    text-decoration: none;
    color: #000;
    padding: 10px;
    border-radius: 6px;
}

button {
    background-color: white;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 9px;
    padding: 20px 30px;
}

.menu {
    display: flex;
    align-items: center;
}

.submenu {
    display: none;
    background-color: #191A23;
    border-radius: 10px;
    position: absolute;
    top: 25px;
    width: 200px;
}

.menu-item {
    position: relative;
}

.submenu a {
    display: block;
    color: white;
    padding: 10px;
}

.menu-item:hover .submenu {
    display: block;
}


@media screen and (max-width: 1061px) {
    .menu {
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .banner {
        margin-top: 0;
        padding: 0;
    }

    .banner-text h1 {
        font-size: 43px;
    }

    .banner-text p {
        font-size: 16px;
    }

    .second-image {
        width: 100%;
    }

    .content-text h3 {
        font-size: 20px;
        padding-top: 0;
        width: 100%;
    }

    .content-text p {
        width: 100%;
        padding-top: 0;
    }
}