body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    justify-self: center;
    background-color: rgb(79, 212, 212);
    width: 50%;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}

.info {
    display: flex;
}

.second-info {
    display: flex;
}

.third-info {
    display: flex;
}

.last {
    padding-left: 20px;
}

input {
    border-radius: 5px;
}

.date {
    width: 50%;
}

.email {
    width: 50%;
}

.url {
    width: 50%;
}

.color {
    width: 50%;
}

input#fname {
    padding: 10px;
}

input#lname {
    padding: 10px;
}

input#email {
    width: 80%;
    padding-bottom: 30px;
}

input#date {
    padding: 10px;
}

input#url {
    padding: 10px;
}

input#others {
    margin-left: 20px;
    width: 70%;
    padding: 10px;
}

input#intro {
    width: 50%;
    padding-bottom: 100px;
}

input#submit {
    margin-top: 20px;
}