body {
    margin: 0;
    font-family: "Space Grotesk", Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 24px 0;
}

.menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu a {
    font-size: 20px;
    text-decoration: none;
    color: #000;
    padding: 10px;
    border-radius: 6px;
}

button {
    background-color: white;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 9px;
    padding: 20px 30px;
}

.menu-bar {
    display: none;
}

@media screen and (max-width: 1061px) {
    .menu {
        display: none;
    }

    .menu-bar {
        display: block;
    }
}