body {
    margin: 0;
    font-family: "Space Grotesk", Arial, sans-serif;
    background: #fff;
    color: #191a23;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0 24px 0;
}

.menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu a {
    font-size: 20px;
    text-decoration: none;
    color: #000;
    padding: 10px;
    border-radius: 6px;
}

button {
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 9px;
    padding: 20px 30px;
}

.menu-bar {
    display: none;
}

.banner {
    display: flex;
    margin-top: 50px;
    gap: 10%;
}

.banner>div {
    width: 50%;
}

.banner h1 {
    font-size: 60px;
    margin-top: 10px;
}

.banner p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.banner button {
    font-size: 20px;
    color: white;
    background-color: #191A23;
    border: 1px solid #000;
    border-radius: 9px;
    padding: 20px 30px;
}

.logo-bar {
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
}