.case {
    background-color: #B9FF66;
    padding: 10px 1px;
    border-radius: 10px;
}

.banner {
    display: flex;
    background-color: #F3F3F3;
    border-radius: 40px;
    padding: 50px 0;
    align-items: center;
    margin-top: 50px;
    gap: 15%;
}

.image {
    width: 40%;
}

.banner-text {
    width: 40%;
}

.banner h1 {
    font-size: 60px;
    font-weight: 500;
    margin-top: 10px;
}

.banner p {
    width: 95%;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.banner-image {
    width: 100%;
    padding-left: 20%;
}

.second-image {
    display: none;
}

.star {
    display: none;
    width: 5%;
    padding-top: 35px;
}

.star-text {
    display: flex;
}

.second-star {
    display: none;
}

.second-star h3 {
    display: none;
}

.content {
    display: flex;
    background-color: #191A23;
    padding: 40px 70px;
    border-radius: 40px;
    margin-bottom: 20px;
    margin-top: 10%;
}

.content-text {
    width: 50%;
}

.content-text h2 {
    font-size: 35px;
    font-weight: 500;
    background-color: #B9FF66;
    width: 77%;
    padding: 5px;
    border-radius: 10px;
}

.content-text h3 {
    color: white;
    font-size: 25px;
    font-weight: 500;
    width: 65%;
    padding-top: 30px;
}

.content-text p {
    color: white;
    width: 90%;
    padding-top: 30px;
}

.arrow {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.arrow p {
    color: #B9FF66;
    padding-left: 10px;
    padding-top: 0;
}

.content-box {
    display: flex;
    width: 45%;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}

.box {
    width: calc(25% - 7.5px);
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

.box h2 {
    margin: 0;
    font-size: 35px;
    text-align: center;
}

.box p {
    text-align: center;
}

.second-arrow {
    display: none;
}

.second-arrow p {
    color: #B9FF66;
    padding-left: 10px;
    padding-top: 0;
}

@media screen and (max-width: 1061px) {
    .menu {
        display: none;
    }

    .menu-bar {
        display: block;
    }

    .banner-text {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner {
        flex-direction: column;
    }

    .image {
        display: none;
    }

    .second-image {
        display: block;
        width: 60%;
    }
}

@media screen and (max-width: 920px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .content-text {
        width: 100%;
    }

    .content-text h2 {
        display: none;
    }

    .star {
        display: flex;
        padding-top: 0;
    }

    .star-image {
        width: 50px;
        height: 55px;
    }

    .second-star {
        display: flex;
    }

    .second-star h3 {
        display: block;
        color: #B9FF66;
        padding-top: 0;
        margin-top: 10px;
    }

    .content-box {
        flex-direction: column;
        padding-top: 20px;
        width: auto;
    }

    .box {
        width: auto;
    }

    .arrow {
        display: none;
    }

    .second-arrow {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 425px) {
    .banner {
        margin-top: 0;
        padding: 0;
    }

    .banner-text h1 {
        font-size: 43px;
    }

    .banner-text p {
        font-size: 16px;
    }

    .second-image {
        width: 100%;
    }

    .content-text h3 {
        font-size: 20px;
        padding-top: 0;
        width: 100%;
    }

    .content-text p {
        width: 100%;
        padding-top: 0;
    }
}