body {
    background-color: #f6f5ef;
}

.topic h1 {
    text-align: center;
}

.topic p {
    text-align: center;
}

.container {
    display: flex;
}

.container div {
    padding: 15px;
    margin: 15px;
    border-radius: 20px;
}

h2 {
    font-family: "Oxygen", sans-serif;
    padding: 0px 20px;
}

h3 {
    color: green;
    font-family: "Oxygen", sans-serif;
    padding: 0px 20px;
}

p {
    font-family: "Oxygen", sans-serif;
    padding: 0px 20px;
    line-height: 1.5;
}

img {
    width: 100%;
    border-radius: 10px;
}

.building-text {
    background-color: rgb(197, 197, 197);
    position: relative;
    top: -100px;
}

.second-container {
    display: flex;
}

.second-container div {
    padding: 15px;
    margin: 15px;
    border-radius: 20px;
}

@media screen and (max-width: 1024px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .second-container {
        flex-direction: column;
        align-items: center;
    }
}