.container {
    display: flex;
    justify-content: space-around;
}

.trip {
    width: 30%;
    padding: 30px;
    margin: 15px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(88, 88, 88);
    position: relative;
}

h2 {
    font-family: "Oxygen", sans-serif;
}

p {
    font-family: "Oxygen", sans-serif;
    line-height: 1.5;
}

img {
    width: 100%;
    border-radius: 25px;
}

.icon {
    display: flex;
    gap: 20px;
}

.icon img {
    width: 40px;
}

.text {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.text img {
    width: 40px;
    height: 40px;
    padding-top: 5px;
}

.love-icon {
    position: absolute;
    right: 30px;
    bottom: 35px;
}

.love {
    width: 40px;
}

.love-icon:hover .info {
    display: block;
}

.info {
    display: none;
    width: 250px;
    padding: 15px;
    margin: 15px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(88, 88, 88);
    position: absolute;
    top: -160px;
    left: -150px;
}

.info img {
    width: 60px;
    height: 60px;
    padding-top: 20px;
}

.banner-text {
    padding-left: 10px;
}

.banner-text h2 {
    margin: 0;
}

.banner-text p {
    margin-bottom: 5px;
}

@media screen and (max-width: 510px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .trip {
        width: 80%;
    }
}